# 서울시 상권분석서비스 데이터 전처리
- 상권 도로명주소를 geocoding하여 (`geopy` 이용) 도로명주소 좌표로 전처리

In [3]:
# For Google Colab
from google.colab import drive
drive.mount('/content/Mydrive')
%cd "/content/Mydrive/MyDrive/IOT_hackathon/Github/IOT_hackathon"

Mounted at /content/Mydrive
/content/Mydrive/MyDrive/IOT_hackathon/Github/IOT_hackathon

In [4]:
import pandas as pd
from geopy.geocoders import Nominatim
import numpy as np
from tqdm import tqdm

In [9]:
df = pd.read_csv('data/서울시_우리마을가게_상권분석서비스(구_상권_생활인구)_2021년.csv', encoding = 'cp949')
df.head(5) # 5980 rows * 532 columns

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
0,2021,1,A,골목상권,1000001,계동길,282796,142207,140590,34007,...,603,585,730,519,981,858,547,524,694,519
1,2021,1,A,골목상권,1000002,난계로27길,320864,164461,156403,16361,...,900,924,697,469,1036,1004,920,983,695,476
2,2021,1,A,골목상권,1000003,돈화문로11가길,162400,90505,71895,9073,...,343,348,329,209,413,369,268,263,280,188
3,2021,1,A,골목상권,1000004,명륜길,626489,297916,328574,82087,...,1273,1170,1625,1377,3098,2390,1215,1135,1662,1402
4,2021,1,A,골목상권,1000005,백석동길,172515,80100,92415,21801,...,455,474,590,541,1165,932,489,457,626,544