In [1]:
from google.colab import drive
drive.mount('/content/Mydrive')
%cd "/content/Mydrive/MyDrive/IOT_hackathon/Github/IOT_hackathon"

Mounted at /content/Mydrive
/content/Mydrive/MyDrive/IOT_hackathon/Github/IOT_hackathon

In [2]:
import pandas as pd
import numpy as np
import os
import requests
from tqdm import tqdm

In [7]:
df = pd.read_csv(
    '/content/Mydrive/MyDrive/IOT_hackathon/Github/IOT_hackathon/Preprocessing/data/서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선).csv',
    encoding='cp949')
df = df[df.columns.drop(['연번','호선','합 계','역명'])]
df.columns = ['date', '역번호', '구분', '05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15',
       '16', '17', '18', '19', '20', '21',
       '22', '23']
df.date = pd.to_datetime(df.date)

In [8]:
df = df.loc[df.date > pd.Timestamp(2020,12,31),:]
df = df.sort_values(by=['역번호','date','구분'])
df = df.reset_index(drop=True)
df = df.groupby([df.index//2,'date','역번호'])[['05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15',
       '16', '17', '18', '19', '20', '21',
       '22', '23']].sum()

In [9]:
df

,,,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23
,date,역번호,,,,,,,,,,,,,,,,,,,
0,2021-01-01,150,171,466,595,898,1174,1163,1204,1575,1484,1465,1618,1506,1465,1095,1004,833,817,579,178
1,2021-01-02,150,196,490,696,987,1192,1458,1433,1814,2015,1868,2034,2059,1999,1609,1373,1100,1196,653,232
2,2021-01-03,150,180,365,517,754,939,1272,1475,2006,2045,1804,2139,2064,2452,1836,1973,1577,1459,923,356
3,2021-01-04,150,502,1549,4772,8954,5040,2453,2358,2479,2405,2240,2865,2915,5156,8232,4043,2377,1984,728,312
4,2021-01-05,150,485,1336,3989,8578,5045,2336,2266,2509,2441,2317,2579,2983,5085,8081,3830,2317,2125,776,292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102182,2021-12-27,2828,31,136,487,838,334,255,215,252,231,256,423,417,544,847,449,243,365,167,58
102183,2021-12-28,2828,38,144,511,887,429,275,238,300,284,295,330,512,569,840,486,279,454,200,60
102184,2021-12-29,2828,40,150,485,863,414,319,268,304,315,352,450,484,667,747,545,275,428,218,68
102185,2021-12-30,2828,30,140,471,810,405,300,267,256,298,312,397,511,628,845,480,294,398,222,88
102186,2021-12-31,2828,30,124,398,722,285,262,352,316,348,426,440,559,599,566,337,218,304,192,52

In [10]:
subway = []
for i in tqdm(range(len(df))):
    row_i = [0,0,0,0,0] + df.iloc[i,:].tolist()
    subway.append(row_i)
df['subway'] = subway
df = df[df.columns.drop(['05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15',
       '16', '17', '18', '19', '20', '21',
       '22', '23'])]

100%|██████████| 102187/102187 [00:16<00:00, 6366.97it/s]

In [11]:
df = df.explode('subway').reset_index()

In [14]:
2452488/24

102187.0

In [12]:
df[['date','역번호','subway']].to_csv('Preprocessing/전처리완료/지하철_전처리.csv',index=False)

In [13]:
df

         level_0       date   역번호 subway
0              0 2021-01-01   150      0
1              0 2021-01-01   150      0
2              0 2021-01-01   150      0
3              0 2021-01-01   150      0
4              0 2021-01-01   150      0
...          ...        ...   ...    ...
2452483   102186 2021-12-31  2828    337
2452484   102186 2021-12-31  2828    218
2452485   102186 2021-12-31  2828    304
2452486   102186 2021-12-31  2828    192
2452487   102186 2021-12-31  2828     52

[2452488 rows x 4 columns]